<div class="container">
<form action="/edit-book?bookid={{_id}}" method="post">
  <div class="form-group">
  <label for="title">Title</label>
  <input value="{{title}}" class="form-control" type="text" name="title" id="tile">
  </div>
  <div class="form-group">
  <label for="description">Description</label>
  <input value="{{description}}" class="form-control" type="text" name="description" id="description">
  </div>
  <div class="form-group">
  <div class="form-group">
  <label for="author">Author</label>
  <select name="author" class="custom-select">
    {{#each authors}}
    <option selected value="{{this._id}}">{{this.name}} {{this.lastName}}</option>
    {{/each}}
    </select>
  </div>
  </div>
  <div class="form-group">
  <label for="rating">Rating</label>
  <input value="{{rating}}" class="form-control" type="number" max="5" min="1" name="rating" id="rating">
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
</div>